// Fix for DMP notes display (list bullets)
.note-text {
  ul {
    list-style-type: initial;
    margin-left: 20px;
  }
}

// Fix for DMP share submit button width
#share-submit {
  width: auto;
}

// Fix for template details editor width
.dmp_details_table, #template-desc {
  width: 100%;
}
